---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bootstrap-extensions";

html, body {
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: url("../images/background-texture.jpg");
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

// Typography

h1 {
	font-size: 54px;
	font-weight: bold;

	&::before {
		content: '// ';
		color: #6a6a6a;
	}
}

// Layout

#main {
	display: flex;
	flex: 1;
}

.brand {
	margin: 15px 0;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 38px;
	color: #0096ff;

	:first-child {
		color: #ccc;
	}

}

.copy-break {
	display: none;
}

#header {
	.brand {
		display: inline-block;
		vertical-align: middle;

		&:hover {
			color: #33b9ff;
			text-decoration: none;

			:first-child {
				color: #f5f5f5;
			}
		}
	}

	.nav {
		ul {
			list-style: none;
			padding: 0;
		}

		li {
			@extend .navbar-text;
			display: inline-block;

			a {
				color: #ccc;
				font-size: 20px;
				padding: 10px 0;

				&:hover {
					background-color: transparent !important;
					color: #f5f5f5;
				}

				&::before {
					content: '//';
					color: #6a6a6a;
					padding: 10px;
				}
				&:first::before {
					content: none;
				}
			}
		}
	}
}

#footer {
	.brand {
		font-size: 20px !important;
	}

	.navbar-text {
		vertical-align: middle;
		line-height: 28px;
	}
}

@media screen and (min-width: 650px) {
	#footer .brand {
		float: right;
	}
}
@media screen and (min-width: 650px) and (max-width: 991px) {
	.copy-break {
		display: block;
	}

	#footer .navbar-text {
		line-height: 14px;
	}
}
