---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bootstrap-extensions";

html, body {
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#main {
	display: flex;
	flex: 1;
}

.navbar-brand {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 38px;

	color: #0096ff !important;

	:first-child {
		color: #ccc;
	}
}
